/* create root */
:root {
  --primary-color: #ffcc00;
  --secondary-color: #000000;
  --tertiary-color: #ffefae;
  --hover-color: #d91f26;
  --button-color: #d40511;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
header {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--tertiary-color)
  );
}
.hero-section {
  background: url("./Image/headerbg.jpg") no-repeat center center/cover;
  height: 70vh;
}
.sub_section {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--tertiary-color)
  );
}
input.form-control:focus {
  box-shadow: none;
}

/* for card desing */
.card-title {
  font-size: 15px;
}
.card_body {
  border-right: 1px solid #473d3d18;
}

.card_body:hover {
  box-shadow: 0px 0px 18px 1px #00000023;
}
.card_body:hover .card-title > a {
  color: var(--hover-color);
  transition: all 0.3s ease-in-out;
}
.card-text {
  font-size: 12px;
}

hr.divHr {
  color: #000000 !important;
  height: 2px;
  width: 13%;
  opacity: 100%;
}
.shadow-md {
  box-shadow: 0px 0px 10px -2px;
}
.long_card:hover a {
  color: var(--hover-color);
  text-decoration: underline;
}

.btn-danger {
  background: var(--button-color) !important;
}
.text-danger {
  color: var(--button-color) !important;
}

@media only screen and (min-width: 600px) {
  .left_div {
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  img.w-25 {
    width: 17% !important;
  }
  .px-4{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media only screen and (min-width: 992px) {
  * {
    font-size: 98%;
  }

  #card_box {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
  .card_box_warp {
    box-shadow: 0px 0px 5px 4px #00000073;
  }
  .DHLfyB {
    margin-top: 5rem !important;
  }
  .Track_box {
    margin-top: 3rem;
  }
  .documnet_div {
    position: relative;
    height: 80vh;
  }

  .left_div {
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 1;
    background: white;
  }
  .right_div2 {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 1;
    background: white;
  }

  .right_div {
    position: absolute;
    right: 0%;
    top: 0%;
  }
  .right_div img {
    width: 100%;
    height: 29rem !important;
  }

  .left_div2 {
    position: absolute;
    left: 0%;
    top: 0%;
  }

  .left_div2 img {
    width: 100%;
    height: 29rem !important;
  }
  .my-5 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    height: 60vh;
  }
  #card_box {
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}

@media only screen and (min-width: 1400px) {
}
